apex
celluloid
colorcet
datasets
einops
ipython
kornia
librosa
lightning
matplotlib
moviepy
nltk
numpy
opencv_python
opencv_python_headless
pandas
peft
python_Levenshtein
pytorch_lightning
PyYAML
pytest
resampy
scikit_learn
scipy
seaborn
sentence_transformers
sentencepiece
soundfile
# spacy
speach
tabulate
tensorboard_logger
tensorflow
torch
torchaudio
torchvision
tqdm
transformers
wandb
zstandard
pytorch-crf
whisper
